body {
    background-color: #EAECFF;
}

h1 {
    text-align: center;
    font-size: 36px;
}

.Abissian_text {
    margin-left: 41px;
    font-size: 32px;
}

.Abissian_all {
    margin-right: 12px;
    height: 262px;
    width: 237px;
}